<table class="main_table">
  <thead>
    <tr>
      <th>
        Employee Name
      </th>
      <th>
        Employee Manager
      </th>
      <th>
        Position
      </th>
      <th>
        Satisfaction average of three years
      </th>
      <th>
        Current salary
      </th>
      <th>
        Current salary after calculation
      </th>
      <th>
        Employee years worked satisfactions
      </th>
      <th>
        Change current bonus calculation
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="EmployeeList?.length == 0"><td colspan="7" style="text-align:center">Loading data...</td></tr>
    <tr *ngFor="let employee of EmployeeList">
      <td>
        {{employee.employeeName}}
      </td>
      <td>
        {{employee.employeeManager}}
      </td>
      <td>
        {{employee.position}}
      </td>
      <td>
        {{employee.satisfactionAverage}}
      </td>
      <td>
        {{employee.currentSalary}}
      </td>
      <td>
        {{employee.salaryAfterCalculation}}
      </td>
      <td>
        <table style="margin:auto;border:solid;">
          <thead>
            <tr>
              <th>Years worked</th>
              <th>Satisfaction score</th>
            </tr>
          </thead>
          <tr *ngFor="let yearsSatisfactions of employee.yearsSatisfactionScores; let i = index">
            <td>{{yearsSatisfactions.yearsWorked}}</td>
            <td>{{yearsSatisfactions.satisfactionScore}}</td>
          </tr>
        </table>
      </td>
      <td><button mat-raised-button (click)="openDialog(27)">Pick one</button></td>
    </tr>
  </tbody>
</table>
